.g-reviews{
  overflow: hidden;
  padding: 10px;
  position: relative;
  min-height: 600px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: inherit;
}

.g-reviews .google-row{
  display: flex;
  align-items: center;
  gap: 2em;
}

.g-reviews .google-col-1{
  width: 20em;
  height: 100%;
}

.g-reviews .google-col-2{
  min-width: 30em;
  width: 58dvw;
  position: relative;
}

.g-reviews .wrapper {
  position: relative;
}

.g-reviews .left{
  position: relative;
  left: -60%;
}

.g-reviews .item {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #ffffff;
  position: relative;
  z-index: 2;
  cursor: pointer;
  padding: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.g-reviews .item.active {
  border-radius: var(--e-global-color-1a239e5);
}

.g-reviews svg {
  height: 1200px;
  overflow: hidden;
  width: 1200px;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.g-reviews .circle { 
  fill: none;
  stroke:transparent;
  stroke-width: 2;
  stroke-miterlimit:1;
}

.g-reviews .nav-container{
  position: absolute;
  z-index: 3;
  left: 220px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
}

.g-reviews .nav-container span{
  margin: 0 10px;
}

.g-reviews .nav {
  background: transparent;
  border: none;
  outline: none;
  font-size: 1.5em;
  color: #534b42;
  font-weight: 300;
  cursor: pointer;
}

.g-reviews  .review{
  font-size: 1.63em;
  font-weight: 300;
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
     line-height:1.5
 }

 .g-reviews .content-wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
 }

.g-reviews .name{
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: 300;
  font-style: italic;
  margin-left: -15px;
  margin-top: 20px;
  color: #333333;
}

.g-reviews .name::before{
      content: "—";        
}

.g-reviews .ratings{
margin-top: 10px;
}

.g-reviews .ratings .fa-solid{
  color: #FFA534;
  margin: 0 0.2em;
  }


/* data */

.g-reviews .content-wrapper .testimonial{
  display: none;
}

.g-reviews .content-wrapper .testimonial.active{
  display: inline-block;
}